results/
resources/
workflow/data/
workflow/logs/
workflow/benchmarks
.snakemake/
.DS_Store
config/.DS_Store
docs/_site/*
workflow/trimmed/ERR347035.qc.txt
workflow/benchmarks/01_FastqQC/SRR5562859.trimming.benchmark.txt
workflow/trimmed/SRR5562859.qc.txt
config/samples_list.tsv
config/sample_table.tsv
config/sample_table.txt

